@import "_retina.scss";

.clientList {
  display: block;
  width: 80%;
  position: relative;
  font-family: NeueHaasDisplayBold, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-size: 3em;
}

.clientList:hover > a {
  color: rgba(255, 255, 255, 0.5);
}

.clientList a,
.clientList span {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.clientList a:hover,
.clientList span:hover {
  color: #fff;
}

/*.background-divs {
  z-index: -99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}*/

.background-divs {
  z-index: -99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.background-divs.nk,
.background-divs.ghr,
.background-divs.sss {
  background-color: rgba(0, 0, 0, 0.61) !important;
  background-blend-mode: multiply;
  height: 100%;
}

/*.background-divs.ghr {
  background-color: rgba(0, 0, 0, 0.41);
  background-image: url(https://cdn.jeremymade.com/images/da-band.jpg);
  background-blend-mode: multiply;
}*/

.background-divs.ghr {
  @include retina(
    "https://cdn.jeremymade.com/images/da-band.jpg",
    3,
    cover,
    center center no-repeat
  );
}

.background-divs.nk {
  @include retina(
    "https://cdn.jeremymade.com/images/nk.jpg",
    3,
    cover,
    center center no-repeat
  );
}

.background-divs.sss {
  @include retina(
    "https://cdn.jeremymade.com/images/sss.jpg",
    3,
    cover,
    center center no-repeat
  );
}

.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
