:root {
    --htmlBackground: #010101;
    --intro-bg-color: #010101;
    --introTitle: #fff;
    --introText: #ffffffee;
    --primary: #010101;
    --secondary: #fff;
    --primary-button-bg: linear-gradient(90deg, #0069ff, #1633ff);
    --primary-button-color: #fff;
    --secondary-button-bg: grey;
    --secondary-button-color: #fff;
    --paragraph-color: #222;
  }


/* RAINBOW HOVER BORDER??
:hover {
    border-right: 1px solid;
    -webkit-border-image: 
    -webkit-linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  -webkit-border-image: 
    -webkit-linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  -moz-border-image:
    -moz-linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);    
  -o-border-image:
    -o-linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image:
  linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  }
  */
