/**
OSTRICH CSS
Brought to you by Jeremy Smith.
**/

/*
* === HTML Fluid Typography ===
*/

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/fonts/NeueHaasGroteskDisplay.woff2") format("woff2"),
    url("/fonts/NeueHaasGroteskDisplay.woff") format("woff");
}

@font-face {
  font-family: "NeueHaasDisplayBold";
  src: url("/fonts/NeueHaasGroteskDisplayBold.woff2") format("woff2"),
    url("/fonts/NeueHaasGroteskDisplayBold.woff") format("woff");
}

@font-face {
  font-family: "NeueHaas";
  src: url("/fonts/NeueHaasGroteskText.woff2") format("woff2"),
    url("/fonts/NeueHaasGroteskText.woff") format("woff");
}

@font-face {
  font-family: "NeueHaasBold";
  src: url("/fonts/NeueHaasGroteskTextBold.woff2") format("woff2"),
    url("/fonts/NeueHaasGroteskTextBold.woff") format("woff");
}

@font-face {
  font-family: "NeueHaasItalic";
  src: url("/fonts/NeueHaasGroteskTextItalic.woff2") format("woff2"),
    url("/fonts/NeueHaasGroteskTextItalic.woff") format("woff");
}

@font-face {
  font-family: "AndaleMono";
  src: url("/fonts/Andale-Mono.woff2") format("woff2"),
    url("/fonts/Andale-Mono.woff") format("woff");
}

html {
  font-size: calc(1em + 1vw);
}

/*
* — Fluid Typography Breakpoints —
*/

@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 1.5em;
  }
}

html {
  font-family: NeueHaasText, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: var(--htmlBackground);
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
}

/*
* === Resets & Fixes ===
*/

html {
  -ms-overflow-style: -ms-autohiding-scrollbar; /* MS Edge and IE scrollbar hide */
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: var(--primary);
}

::-moz-selection {
  background: var(--primary);
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

* + address,
* + dl,
* + fieldset,
* + figure,
* + pre {
  margin-top: 1em;
}

address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0 0 1em;
}

body,
html {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  vertical-align: middle;
}

video {
  height: auto;
  width: 100%;
}

.flex {
  display: flex;
}

.h100 {
  height: 100%;
}

::selection {
  background: black;
  color: #fff;
  text-shadow: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

/*
* === ol + li List Styles ===
*/

p + ol,
p + ul {
  margin-top: -1.2em;
}

main ol,
main ul {
  margin-bottom: 1em;
}

main ol li,
main ul li {
  font-family: NeueHaas, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 0.3em;
  padding-left: 1.2em;
  position: relative;
}

main ol li strong,
main ul li strong {
  font-family: NeueHaasBold, Helvetica, sans-serif;
}

@media only screen and (max-width: 641px) {
  main ol li,
  main ul li {
    font-size: 1.5em;
  }
}

main ol li a,
main ul li a {
  color: #1ff042;
}

main ul li:before {
  position: absolute;
  left: 0;
  top: 0.525em;
  display: block;
  background: #000;
  height: 0.35em;
  width: 0.35em;
  content: "";
}

main ol {
  counter-reset: li;
}

main ol li:before {
  position: absolute;
  left: 0;
  top: 0.2em;
  font-family: NeueHaasBold, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 0.85em;
  opacity: 0.35;
  content: counter(li) ".";
  counter-increment: li;
}

/*
* === SWUP Animations ===
*/

.a-fade {
  transition: 0.4s;
  opacity: 1;
}
html.is-animating .a-fade {
  opacity: 0;
}

.appFrame {
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.appBody {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.page {
  min-height: 100vh;
  width: 100%;
}

.padded {
  padding: 3em;
}

@media only screen and (max-width: 641px) {
  .padded {
    padding: 2em;
  }
}

/* -------------------------------- 

Strokes

-------------------------------- */

.strokes,
.cd-project .strokes-p {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.strokes div,
.cd-project .strokes-p div {
  height: 100%;
  width: calc(8.33333333% - 0.5px);
  z-index: 0;
  float: left;
}
.strokes div:nth-of-type(2),
.cd-project .strokes-p div:nth-of-type(2),
.strokes div:nth-of-type(4),
.cd-project .strokes-p div:nth-of-type(4),
.strokes div:nth-of-type(6),
.cd-project .strokes-p div:nth-of-type(6),
.strokes div:nth-of-type(8),
.cd-project .strokes-p div:nth-of-type(8),
.strokes div:nth-of-type(10),
.cd-project .strokes-p div:nth-of-type(10) {
  border-right: 1px solid rgba(255, 255, 255, 0.09);
}
@media (max-width: 1090px) {
  .strokes,
  .cd-project .strokes-p {
    width: 80%;
    margin: 0px 10%;
  }
  .strokes div:nth-of-type(1),
  .cd-project .strokes-p div:nth-of-type(1),
  .strokes div:nth-of-type(2),
  .cd-project .strokes-p div:nth-of-type(2),
  .strokes div:nth-of-type(3),
  .cd-project .strokes-p div:nth-of-type(3),
  .strokes div:nth-of-type(4),
  .cd-project .strokes-p div:nth-of-type(4) {
    display: none;
  }
  .strokes div,
  .cd-project .strokes-p div {
    width: calc(12.5% - 0.8px);
  }
  .strokes div:nth-of-type(5),
  .cd-project .strokes-p div:nth-of-type(5) {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
  }
  .strokes div:nth-of-type(12),
  .cd-project .strokes-p div:nth-of-type(12) {
    border-right: 1px solid rgba(255, 255, 255, 0.09);
  }
}
@media (max-width: 890px) {
  .strokes,
  .cd-project .strokes-p {
    width: calc(100% - 80px);
    margin: 0px 40px;
  }
}
@media (max-width: 600px) {
  .strokes,
  .cd-project .strokes-p {
    width: calc(100% - 40px);
    margin: 0px 20px;
  }
}
