/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */
.clientList {
  display: block;
  width: 80%;
  position: relative;
  font-family: NeueHaasDisplayBold, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-size: 3em; }

.clientList:hover > a {
  color: rgba(255, 255, 255, 0.5); }

.clientList a,
.clientList span {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.clientList a:hover,
.clientList span:hover {
  color: #fff; }

/*.background-divs {
  z-index: -99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}*/
.background-divs {
  z-index: -99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  visibility: visible;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.background-divs.ghr {
  background-color: rgba(0, 0, 0, 0.71);
  /*
     * Set a counter and get the length of the image path.
     */
  /*
     * Loop ver the image path and figure out the
     * position of the dot where the extension begins.
     */
  /*
     * If we were able to figure out where the extension is,
     * slice the path into a base and an extension. Use that to
     * calculate urls for different density environments. Set
     * values for different environments.
     */
  /*
       * Set a base background for 1x environments.
       */
  background: url("https://cdn.jeremymade.com/images/da-band.jpg") center center no-repeat;
  background-size: cover;
  /*
       * Create an @2x-ish media query.
       */
  /*
       * Create media queries for all environments that the user has
       * provided images for.
       */
  /*
     * If anything went wrong trying to separate the file from its
     * extension, set a background value without doing anything to it.
     */
  background-blend-mode: multiply; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .background-divs.ghr {
      background: url("https://cdn.jeremymade.com/images/da-band@2x.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .background-divs.ghr {
      background: url("https://cdn.jeremymade.com/images/da-band@2x.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .background-divs.ghr {
      background: url("https://cdn.jeremymade.com/images/da-band@3x.jpg") center center no-repeat;
      background-size: cover; } }

/*.background-divs.ghr {
  background-color: rgba(0, 0, 0, 0.41);
  background-image: url(https://cdn.jeremymade.com/images/da-band.jpg);
  background-blend-mode: multiply;
}*/
/*.background-divs.nk {
  background-color: rgba(0, 0, 0, 0.71);
  background-blend-mode: multiply;
}*/
.background-divs.nk {
  /*
     * Set a counter and get the length of the image path.
     */
  /*
     * Loop ver the image path and figure out the
     * position of the dot where the extension begins.
     */
  /*
     * If we were able to figure out where the extension is,
     * slice the path into a base and an extension. Use that to
     * calculate urls for different density environments. Set
     * values for different environments.
     */
  /*
       * Set a base background for 1x environments.
       */
  background: url("https://cdn.jeremymade.com/images/nk.jpg") center center no-repeat rgba(0, 0, 0, 0.71) !important multiply;
  background-size: cover;
  /*
       * Create an @2x-ish media query.
       */
  /*
       * Create media queries for all environments that the user has
       * provided images for.
       */
  /*
     * If anything went wrong trying to separate the file from its
     * extension, set a background value without doing anything to it.
     */ }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .background-divs.nk {
      background: url("https://cdn.jeremymade.com/images/nk@2x.jpg") center center no-repeat rgba(0, 0, 0, 0.71) !important multiply;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .background-divs.nk {
      background: url("https://cdn.jeremymade.com/images/nk@2x.jpg") center center no-repeat rgba(0, 0, 0, 0.71) !important multiply;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .background-divs.nk {
      background: url("https://cdn.jeremymade.com/images/nk@3x.jpg") center center no-repeat rgba(0, 0, 0, 0.71) !important multiply;
      background-size: cover; } }

.background-divs.sss {
  background-color: rgba(0, 0, 0, 0.71);
  /*
     * Set a counter and get the length of the image path.
     */
  /*
     * Loop ver the image path and figure out the
     * position of the dot where the extension begins.
     */
  /*
     * If we were able to figure out where the extension is,
     * slice the path into a base and an extension. Use that to
     * calculate urls for different density environments. Set
     * values for different environments.
     */
  /*
       * Set a base background for 1x environments.
       */
  background: url("https://cdn.jeremymade.com/images/sss.jpg") center center no-repeat;
  background-size: cover;
  /*
       * Create an @2x-ish media query.
       */
  /*
       * Create media queries for all environments that the user has
       * provided images for.
       */
  /*
     * If anything went wrong trying to separate the file from its
     * extension, set a background value without doing anything to it.
     */
  background-blend-mode: multiply; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .background-divs.sss {
      background: url("https://cdn.jeremymade.com/images/sss@2x.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .background-divs.sss {
      background: url("https://cdn.jeremymade.com/images/sss@2x.jpg") center center no-repeat;
      background-size: cover; } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .background-divs.sss {
      background: url("https://cdn.jeremymade.com/images/sss@3x.jpg") center center no-repeat;
      background-size: cover; } }

.background-divs.yellow {
  background-color: yellow; }

.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
