.clientList {
  display: block;
  width: 80%;
  position: relative;
  font-family: NeueHaasDisplayBold, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-size: 3em; }

.clientList:hover > a {
  color: rgba(255, 255, 255, 0.5); }

.clientList a,
.clientList span {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.clientList a:hover,
.clientList span:hover {
  color: #fff; }

.background-divs {
  z-index: -99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.background-divs.ghr {
  background-color: rgba(0, 0, 0, 0.41);
  background-image: url(../images/da-band.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }

.background-divs.nk {
  background-color: rgba(0, 0, 0, 0.41);
  background-image: url(../images/nickyk.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat; }

.background-divs.sss {
  background-color: rgba(0, 0, 0, 0.41);
  background-image: url(../images/sss.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat; }

.background-divs.yellow {
  background-color: yellow; }

.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out; }
