:root {
  --intro-bg-color: #010101;
  --primary: #010101;
  --secondary: #fff;
  --primary-button-bg: linear-gradient(90deg, #0069ff, #1633ff);
  --primary-button-color: #fff;
  --secondary-button-bg: grey;
  --secondary-button-color: #fff;
  --paragraph-color: #222; }
