/*
* === Style Classes ===
*/
.absolute {
  position: absolute; }

.relative {
  position: relative; }

.white {
  color: #fff; }

.lightText {
  color: rgba(255, 255, 255, 0.87); }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.h100 {
  height: 100%; }

::-moz-selection {
  background: black;
  color: #fff;
  text-shadow: none; }

::selection {
  background: black;
  color: #fff;
  text-shadow: none; }

.textCenter {
  text-align: center; }

.padded {
  padding: 3em; }

.mb {
  margin-bottom: 2em; }

@media only screen and (max-width: 641px) {
  .padded {
    padding: 2em; } }

.padded-lr {
  padding-left: 3em;
  padding-right: 3em; }

@media only screen and (max-width: 641px) {
  .padded-lr {
    padding-left: 2em;
    padding-right: 2em; } }

/*
  * === Animation classes ===
  */
.grow {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.grow:hover {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }
