@charset "UTF-8";
/**
OSTRICH CSS
Brought to you by Jeremy Smith.
**/
/*
* === HTML Fluid Typography ===
*/
@font-face {
  font-family: "NeueHaasDisplay";
  font-display: swap;
  src: url("/fonts/NeueHaasGroteskDisplay.woff2") format("woff2"), url("/fonts/NeueHaasGroteskDisplay.woff") format("woff");
  unicode-range: U+000-5FF; }

@font-face {
  font-family: "NeueHaasDisplayBold";
  font-display: swap;
  src: url("/fonts/NeueHaasGroteskDisplayBold.woff2") format("woff2"), url("/fonts/NeueHaasGroteskDisplayBold.woff") format("woff");
  unicode-range: U+000-5FF; }

@font-face {
  font-family: "NeueHaas";
  font-display: swap;
  src: url("/fonts/NeueHaasGroteskText.woff2") format("woff2"), url("/fonts/NeueHaasGroteskText.woff") format("woff");
  unicode-range: U+000-5FF; }

@font-face {
  font-family: "NeueHaasBold";
  font-display: swap;
  src: url("/fonts/NeueHaasGroteskTextBold.woff2") format("woff2"), url("/fonts/NeueHaasGroteskTextBold.woff") format("woff");
  unicode-range: U+000-5FF; }

@font-face {
  font-family: "NeueHaasItalic";
  font-display: swap;
  src: url("/fonts/NeueHaasGroteskTextItalic.woff2") format("woff2"), url("/fonts/NeueHaasGroteskTextItalic.woff") format("woff");
  unicode-range: U+000-5FF; }

@font-face {
  font-family: "AndaleMono";
  font-display: swap;
  src: url("/fonts/Andale-Mono.woff2") format("woff2"), url("/fonts/Andale-Mono.woff") format("woff");
  unicode-range: U+000-5FF; }

html {
  font-size: calc(1em + 1vw); }

/*
* — Fluid Typography Breakpoints —
*/
@media screen and (min-width: 50em) {
  html {
    font-size: 2vw; } }

@media screen and (min-width: 75em) {
  html {
    font-size: 1.5em; } }

html {
  font-family: NeueHaasText, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  background: var(--htmlBackground);
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: none; }

/*
* === Resets & Fixes ===
*/
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* MS Edge and IE scrollbar hide */ }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-kerning: auto;
          font-kerning: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  background: var(--primary); }

::selection {
  background: var(--primary); }

::-moz-selection {
  background: var(--primary); }

button:focus,
select:focus {
  outline: none; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

ol,
ul {
  list-style: none; }

* + address,
* + dl,
* + fieldset,
* + figure,
* + pre {
  margin-top: 1em; }

address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0 0 1em; }

body,
html {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

svg {
  vertical-align: middle; }

video {
  height: auto;
  width: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block; }

/*
* === ol + li List Styles ===
*/
p + ol,
p + ul {
  margin-top: -1.2em; }

main ol,
main ul {
  margin-bottom: 1em; }

main ol li,
main ul li {
  font-family: NeueHaas, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 0.3em;
  padding-left: 1.2em;
  position: relative; }

main ol li strong,
main ul li strong {
  font-family: NeueHaasBold, Helvetica, sans-serif; }

@media only screen and (max-width: 641px) {
  main ol li,
  main ul li {
    font-size: 1.5em; } }

main ol li a,
main ul li a {
  color: #1ff042; }

main ul li:before {
  position: absolute;
  left: 0;
  top: 0.525em;
  display: block;
  background: #000;
  height: 0.35em;
  width: 0.35em;
  content: ""; }

main ol {
  counter-reset: li; }

main ol li:before {
  position: absolute;
  left: 0;
  top: 0.2em;
  font-family: NeueHaasBold, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 0.85em;
  opacity: 0.35;
  content: counter(li) ".";
  counter-increment: li; }

/*
* === SWUP Animations ===

.a-fade {
  transition: 0.4s;
  opacity: 1;
}
html.is-animating .a-fade {
  opacity: 0;
}

*/
.a-fade {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 1; }

html.is-animating .a-fade {
  opacity: 0; }

.appFrame {
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
  /*min-height: 100vh;*/
  position: relative;
  -webkit-overflow-scrolling: touch; }

.appBody {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto; }

/*
* === Background Stripes ===
*/
.stripes {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.stripes div {
  height: 100%;
  width: calc(8.33333333% - 0.5px);
  z-index: 0;
  float: left; }

.stripes div:nth-of-type(2),
.stripes div:nth-of-type(4),
.stripes div:nth-of-type(6),
.stripes div:nth-of-type(8),
.stripes div:nth-of-type(10) {
  border-right: 1px solid rgba(255, 255, 255, 0.09); }

@media (max-width: 1090px) {
  .stripes {
    width: 80%;
    margin: 0px 10%; }
  .stripes div:nth-of-type(1),
  .stripes div:nth-of-type(2),
  .stripes div:nth-of-type(3),
  .stripes div:nth-of-type(4) {
    display: none; }
  .stripes div {
    width: calc(12.5% - 0.8px); }
  .stripes div:nth-of-type(5) {
    border-left: 1px solid rgba(255, 255, 255, 0.09); }
  .stripes div:nth-of-type(12) {
    border-right: 1px solid rgba(255, 255, 255, 0.09); } }

@media (max-width: 890px) {
  .stripes {
    width: calc(100% - 80px);
    margin: 0px 40px; } }

@media (max-width: 600px) {
  .stripes {
    width: calc(100% - 40px);
    margin: 0px 20px; } }
